body {
    font-family: "Arial", sans-serif;
    background-color: #ffe6f2;
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-top: 50px;
    transition: transform 0.3s;
}

h1 {
    color: #ff66b2;
    font-size: 2em;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ff66b2;
}

button {
    background: #ff66b2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #ff3385;
}

.countdown-container {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #ff66b2;
}

.reminder {
    color: #ff3385;
    font-size: 18px;
    margin-top: 10px;
}

.final-msg {
    font-size: 18px;
    font-weight: bold;
    color: #ff66b2;
    margin-top: 30px;
}

.game {
    margin-top: 30px;
    background-color: #fff3f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

button {
    font-size: 1.2em;
    padding: 12px 20px;
}

button:active {
    transform: scale(0.98);
}

#gameMessage {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff66b2;
    display: none;
}